USE [PXUK16DB]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateManufactory]    Script Date: 12/1/2020 8:43:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Đạt
-- Create date: 27/11/2020
-- Description:	Update category
-- =============================================
CREATE PROCEDURE [dbo].[sp_UpdateManufactory]
	@ManufactoryId INT,
	@Name NVARCHAR(500)
AS
BEGIN
	DECLARE @Message NVARCHAR(200) ='Something went wrong, please contact administrator.'
	DECLARE @Result  BIT = 0

	BEGIN TRAN
	BEGIN TRY
	IF(ISNULL(@ManufactoryId,0) = 0)
	BEGIN
		SET @Message = 'Manufactory ID is required.'
	END
	ELSE
	BEGIN
		IF (ISNULL(@Name,'')='')
		BEGIN
			SET @Message = 'Manufactory Name is required.'
		END
		ELSE
		BEGIN
			IF (NOT EXISTS (SELECT * FROM Manafactory WHERE ManufactoryId = @ManufactoryId))
			BEGIN
				SET @Message = 'Manufactory is not exists.'
			END
			ELSE
			BEGIN
				IF (EXISTS (SELECT * FROM Manafactory WHERE Name = @Name AND ManufactoryId <> @ManufactoryId))
				BEGIN
					SET @Message = 'Manufactory is exists.'
				END
				ELSE
				BEGIN
					UPDATE Manafactory
					SET Name = @Name
					WHERE ManufactoryId = @ManufactoryId
					SET @Message = 'Manufactory has been updated.'
					SET @Result = 1
				END
			END
		END
	END
	SELECT @Result AS Result, @Message AS [Message], @ManufactoryId AS [ManufactoryId]
		COMMIT TRAN
	END TRY
	BEGIN CATCH
		SELECT @Result AS Result, @Message AS [Message], @ManufactoryId AS [ManufactoryId]
		ROLLBACK TRAN
	END CATCH
END
GO
