

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<hr />
<nav class="navbar navbar-expand-sm bg-danger navbar-light" id="subNav">
    <ul class="navbar-nav">
    </ul>
</nav>
<hr />
<div class="row">
    <div class="list-group" id="manufactory">
    </div>
</div>
<hr />
<div class="row">
    <div class="col-4">
        <select class="form-group custom-select" id="manu">
        </select>
    </div>
</div>
<hr />
<div class="row">
    <table class="table table-bordered table-hover" id="tbManu">
        <thead class="thead-dark">
            <tr>
                <th>#Id</th>
                <th> name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


@section Scripts{
    <script src="~/js/manufactory.js"asp-append-version="true"></script>
}