@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

</div>
<nav class="navbar navbar-expand-sm bg-danger navbar-light" id="subNav">
    <ul class="navbar-nav">
    </ul>
</nav>
<div class="row">
    <div class="list-group" id="manufactories">
    </div>
</div>
<div class="row">
    <div class="col-4">
        <select class="form-group custom-select" id="man">
        </select>
    </div>
</div>
<div class="row">
    <table class="table table-bordered table-hover" id="tbMan">
        <thead class="thead-dark">
            <tr>
                <th>#Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


@section Scripts{
    <script src="~/js/site.js" asp-append-version="true"></script>
}