

<nav class="navbar navbar-expand-sm bg-dark navbar-dark" id="subNav">
    <ul class="navbar-nav">
    </ul>
</nav>
<br>
<div class="row">
    <div class="list-group" id="Manufactory">
    </div>
</div>
<br>
<div class="row">
    <div class="col-4">
        <select class="form-group custom-select" id="Man">
        </select>
    </div>
</div>
<br>
<div class="row">
    <table class="table table-bordered table-hover" id="tbMan">
        <thead class="thead-dark">
            <tr>
                <th>#Id</th>
                <th>Manufactory Mame</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


@section Scripts{
    <script src="~/js/manufactory.js" asp-append-version="true"></script>
}